body {
    cursor: none;
}
body .regCursor {
    cursor: default;
}
  
.custom-cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background: #ff0000;
    border: 2px solid #ffffff;
    border-radius: 50%;
    pointer-events: none;
    /* mix-blend-mode: difference; */
    transition: transform 0.15s ease-out;
    transform: translate(-50%, -50%);
}

.custom-cursor .regCursor {
    width: 20px;
    height: 20px;
}
  