.main {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #73AB84;
}

.canvas {
  width: 700px;
  height: 400px;
}
.websiteName {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 90px;

  background: linear-gradient(to right, #00ccff 0%, #0066ff 100%);
  font-size: 80px;
  text-align: left;
}

.videoPlayer {
  padding: 2%;
  width: 40%;
  height: 475px;
  background-color: #73AB84;
  float: left;
}

.buttonContainer {
  padding: 10%;
  width: 60%;
  height: 475px;
  background-color: #73AB84;
  float: left;
}

.button {
  margin-bottom: 30px;
  padding: 0;
  width: 200px;
  height: 40px;
  /* line-height: 42px; */

  background: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;

  font-family: 'Lato', sans-serif;
  font-weight: 500;

  cursor: pointer;
  /* transition: all 0.3s ease; */
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  border: none;
}

.span {
  /* position: relative;
  display: block; */
  width: 100%;
  height: 100%;
}
.button:before,
.button:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgba(2,126,251,1);
  transition: all 0.3s ease;
}
.button:before {
  height: 0%;
  width: 2px;
}
.button:after {
  width: 0%;
  height: 2px;
}
.button:hover{
  background: white;
  box-shadow: none;
}
.button:hover:before {
  height: 100%;
}
.button:hover:after {
  width: 100%;
}
.button:hover{
   color: rgba(2,126,251,1);
}
.span:before,
.span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgba(2,126,251,1);
  transition: all 0.3s ease;
}
.span:before {
  width: 2px;
  height: 0%;
}
.span:after {
  width: 0%;
  height: 2px;
}
.span:hover:before {
  height: 100%;
}
.span:hover:after {
  width: 100%;
} 


#frameSlider {
  width: 700px; 
  margin: 0;
  padding: 0;
  appearance: none;
}

#frameSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #007BFF;
  border: 2px solid #0056b3; 
  border-radius: 50%; 
  cursor: pointer;
}

.sliderContainer {
  width: 100%;
}